.vscode/**
.vscode-test/**
out/**
src/**
# Include only required node_modules (ws is external in webpack)
node_modules/**
!node_modules/ws/**
vscode-jupyter/**
Pluto.jl/**
PlutoUI.jl/**
julia-vscode/**
vscode-marimo/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
